<a href="https://colab.research.google.com/github/mrmids/StockAnalysis/blob/Development/StockMarketAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## Stock Market Analysis
## Collaborative project of ITExperience mentees

In [ ]:
## Code block for installing libraries that are not available by default
## To install, remove the line comment from the code line before running

#!pip install yfinance

In [4]:
## Import needed libraries

import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [21]:
## Save ticker symbol of stocks to be analysed. This can be a created using a 
## csv file of tickers as well

tickers = ["AAPL","AMZN", "GOOGL"]
tickers

['AAPL', 'AMZN', 'GOOGL']

In [22]:
## Load the stock data from Yahoo finance using the YFinance library

StockData = yf.download(tickers, start = "2020-01-01", end = "2021-01-15")

[*********************100%***********************]  3 of 3 completed

In [23]:
## Preview stock data

StockData.head()

            Adj Close                            ...     Volume
                 AAPL         AMZN        GOOGL  ...       AAPL     AMZN    GOOGL
Date                                             ...
2020-01-02  74.444603  1898.010010  1368.680054  ...  135480400  4029000  1363900
2020-01-03  73.720840  1874.969971  1361.520020  ...  146322800  3764400  1170400
2020-01-06  74.308266  1902.880005  1397.810059  ...  118387200  4061800  2338400
2020-01-07  73.958794  1906.859985  1395.109985  ...  108872000  4044900  1716500
2020-01-08  75.148521  1891.969971  1405.040039  ...  132079200  3508000  1765700

[5 rows x 18 columns]